.navbar {
    width: 640px;
    margin: 0 auto;
    border-radius: 0px 0px 25px 25px;
    background: white !important;
    backdrop-filter: blur(12.5px);
    height: 80px;
}

.onehp {
    width: 100%;
}

.gradient-bg-txt-logo{
    background: var(--grad-main, linear-gradient(91deg, #EE4D5F 0.57%, #FFCFA5 99.41%)) !important;
    background-clip: text !important;
    -webkit-background-clip: text !important;
    -webkit-text-fill-color: transparent !important;
    font-size: 40px !important;
    font-family: 'Italiana', sans-serif;
}

.gradient-bg-txt {
    color: var(--text, #F2767D) !important;
    font-size: 24px !important;
}
