@tailwind base;
@tailwind components;
@tailwind utilities;

body{
    background: #E8E8F3;
    font-family: 'Red Hat Display', sans-serif;
}

textarea:focus, input:focus{
    outline: none;
}

.body-back{
    background-repeat: no-repeat;
    background-size: cover;
}